.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  width: 44px;
  height: 44px;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  z-index: 1000;
}

@media (prefers-color-scheme: dark) {

  .menu-btn__burger,
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    background: #ececec;
  }
}

@media (prefers-color-scheme: light) {

  .menu-btn__burger,
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    background: #222;
  }
}

.menu-btn__burger {
  display: block;
  width: 20pt;
  height: 5px;

  border-radius: 2pt;
  position: relative;
  transition: all 500ms ease-in;
  transform-origin: center;
  will-change: transform;
}

.menu-btn__burger:before,
.menu-btn__burger:after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2pt;
  position: absolute;
  transition: all 300ms ease-in;
  transform-origin: center;
}

.menu-btn__burger:before {
  top: -7pt;
}

.menu-btn__burger:after {
  top: 7pt;
}

.menu-btn.open .menu-btn__burger {
  transform: rotate(45deg);
}

.menu-btn.open .menu-btn__burger:before {
  transform: rotate(-45deg);
  top: 0%;
  background: none;
}

.menu-btn.open .menu-btn__burger:after {
  transform: rotate(-90deg);
  top: 0%;
}