@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
* {
  font-family: 'Noto Sans', sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --red: #f53d1d;
  --green: #2fceff;
  --blue: #43f;
}

*,
html,
body,
a,
li,
button,
span {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
}

span.ball {
  position: absolute;
  height: 25px;
  width: 25px;
  pointer-events: none;
  border-radius: 50%;
  transition: all 90ms linear;
  transform: translate(-25%, -1%) rotate(-30deg);
  z-index: 100;
}


span.ball::before {
  position: absolute;
  content: "";
  top: 0;
  left: 45%;
  width: 10%;
  height: 60%;
  background: var(--red);
  border-radius: 40%;
  transform-origin: top;
  transform: rotate(25deg);
  box-shadow: 0 0 10px #43f, 0 0 30px 4px var(--green);

}

span.ball::after {
  position: absolute;
  content: "";
  top: 0;
  right: 45%;
  width: 10%;
  height: 60%;
  background: var(--red);
  border-radius: 40%;
  transform-origin: top;
  transform: rotate(-25deg);
  box-shadow: 0 0 10px #43f, 0 0 30px 4px var(--green);

}


/* contact input */
.contact-inp {
  font-size: 1.75rem;
  font-size: medium;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  outline: none;

}

.contact-inp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0%;
}

textarea.contact-inp {
  overflow-y: scroll;
  height: 7rem;
  resize: none;
  position: relative;
}

textarea.contact-inp::-webkit-scrollbar {
  width: 0;
}
.top_work div:nth-child(1),.top_work div:nth-child(3){
  transform: scale(.7);
}

.anim-pop {
  animation: animpop .2s ease-in;
}

@keyframes animpop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
svg {
  transition: all 120ms ease-out;
}
 
svg.close rect {
  fill: var(--red);
  stroke: none;
}

@media (prefers-color-scheme: light) {

  
  rect,path {
    stroke: #263a508a;
  }

  rect {
    fill: #263a50;
  }
}

@media (prefers-color-scheme: dark) {

  svg.rootLogo, path,
  rect {
    stroke: #ECECEC;
  }

  svg.rootLogo,rect {
    fill: #ECECEC
  }
}

input.email::after{
  content: "*";
  position: absolute;
  top: 50%;
  left: 25%;
  color: var(--red);
}

/* footer */
footer{
  width: 100%;
  height: auto;
  background: #0005;
  position: relative;
  background-image: url("/images/footer_earth.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.footerLinkList section ul li a {
  font-size: 10pt;
}
.footerLinkList section ul li a:hover{
  text-decoration: underline;
}